.container{
    width: 400px;
    height: 30px;
     border: 2px solid black;
     position: relative;
     
}
.color{
    background: red;
    animation: move 2s forwards;
    height: 100%;
    
    
}
.barra{
    height: 100%;
    background: url(./corazon-mask.png);
    background-size: auto 20px;
    position: absolute;
}
@keyframes move {
    from {
        width: 0%;
    }
    to {width: 98%;
    }
}







