body{
    background-color: salmon;
}
h1{
    color: grey;
    text-align: center;

}
div{
    border: dashed red;
    background-color: aqua;
    float: left;
    height: 8em;
    margin: 5px;
    padding: 5px;
    width:  8em;
    
}

p::first-letter{font-size: 5em;}