.Chistes{text-align: center;color: white;margin: auto;}
.Baltasar{text-align: right;}
.Color{background-color: tomato;margin: 10px;}
.lorem1{border: 5px dotted grey;text-align: center;margin: 40px;background-color: green;}
.lorem2{border: 5px solid aqua;text-align: center;margin: 40px;background-color: blue;}
.lorem3{border: 5px double pink;text-align: center;margin: 40px;background-color: violet;}
.lorem4{border: 5px solid blue;text-align: center;margin: 40px;background-color: aquamarine;}
.lorem5{border: 5px dashed blueviolet;text-align: center;margin: 40px;background-color: gray;}